[submodule "lib/openpgpjs"]
	path = lib/openpgpjs
	url = https://github.com/openpgpjs/openpgpjs.git
[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "lib/pdfjs"]
	path = lib/pdfjs
	url = https://github.com/mozilla/pdf.js.git
[submodule "lib/sjcl"]
	path = lib/sjcl
	url = https://github.com/bitwiseshiftleft/sjcl.git
[submodule "lib/jquery-mobile"]
	path = lib/jquery-mobile
	url = https://github.com/jquery/jquery-mobile.git
